$height: 130px;
.item-title {
  background-color: #f3f3f3;
  padding: 28px 50px;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: end;
  .down {
    color: #999;
    transform: rotate(-90deg);
  }
}
.item-title>span {
  line-height: 60px;
}
.item-container {
  box-sizing: border-box;
  border-bottom: 1PX solid #e6e6e6;
  background-color: #fff;
  padding: 44px 0;
  .calss-desc {
    padding: 45px 50px 0 50px;
    text-align: right;
  }
}

.item {
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  font-size: 42px;
  span {
    display: inline-block;
    text-align: left;
  }
  .remark-title,.approve-title {
    display: inline-block;
    margin-bottom: 20px;
  }
  .title{
    display: inline;
    flex-wrap: nowrap;
    color:#373737;
    min-width: 250px;
  }
  .desc {
    display: inline-block;
    overflow: hidden;
    color:#666666;
    line-height: 60px;
  }
  .approve-remark {
    display: block;
    text-align: left;
    width: 100%;
    outline: none;
    border: none;
  }
}
.remark-container {
  padding: 0 50px;
  .remark-desc {
    outline: none;
    width: 100%;
    margin-top: 20px;
    font-size: 42px;
    border:none;
    color:#666666;
  }
}

