.approve-container {
  position: absolute;
  bottom:150px;
  left:0;
  background-color: #fff;
  //padding: 35px 0;
  width: 100%;
  .approve-item {
    padding: 0 50px;
    display: flex;
    height: 130px;
    line-height: 130px;
    justify-content: space-between;
    border-bottom:1PX solid #e6e6e6;
    .approve-title {
      color:#373737;
    }
    .approve-desc {
      color:#666666;
    }
  }
  .approve-item-remark {
    padding: 45px 50px;
    height: 231px;
    .approve-title {
      color:#373737;
    }
    .approve-remark{
      outline: none;
      width: 100%;
      margin-top: 20px;
      font-size: 40px;
      border:none;
      color:#888
    }
  }
}